{{ define "main" }}
<article class="post">
    <header>
        <h1>
            {{ if .Draft }}
                <s>
            {{ end }}
            {{ .Title }}
            {{ if .Draft }}
                </s>
            {{ end }}
        </h1>
        <h2 class="headline">
        {{ .Date.Format "January 2, 2006" }}
        <a href="https://github.com/lroellin/blog/blame/master/content/{{ .File.Path }}"><i class="fa fa-history" aria-hidden="true"></i></a>
        <br>
        {{ partial "regions.html" . }}
        {{ with .Params.tags }}
            {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }} <i class="fa fa-tag" aria-hidden="true"></i></a>
            {{ end }}
        {{ end}}
        {{ with .Params.series }}
            {{ range . }}
                <a href="{{ printf "series/%s" (. | urlize) | absURL }}">{{ . }} <i class="fa fa-book" aria-hidden="true"></i></a>
            {{ end }}
        {{ end}}
        <br>
        {{ .WordCount }} words, a {{.ReadingTime }} minutes read
        </h2>
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
    <img class="avatar" src="{{ "images/avatar.png" | absURL }}">
    <div>
        <span class="dark">{{ .Site.Params.name }}</span>
        <span>{{ .Site.Params.bio }}</span>
    </div>
    {{ with .Site.Params.twitter }}</a>{{ end }}
    <section id="sharing">
        {{ partial "share.html" . }}
    </section>
</footer>



{{ template "_internal/disqus.html" . }}

{{ partial "latest-posts.html" . }}
{{ end }}
