<nav id="post-nav">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        
        <span class="prev">
            {{ if .Paginator.HasPrev }}
            <a href="{{.Paginator.Prev.URL}}">
                <span class="arrow">←</span> {{ .Site.Params.newerPosts | default "Newer Posts" }}
            </a>
            {{ end }}
        </span>
        
        <span class="next">
            {{ if .Paginator.HasNext }}
            <a href="{{.Paginator.Next.URL}}">
                {{ .Site.Params.olderPosts | default "Older Posts" }}<span class="arrow">→</span>
            </a>
            {{ end }}
        </span>
    {{ end }}
</nav>
