ul      { margin:0; padding:0; margin-bottom: 20px; list-style-type:circle}
ol      { list-style: decimal; }
li      { list-style-position:inside; }

ul > li, ol > li {
    margin-left: 10px;
}

#post-body h1:hover a, #post-body h2:hover a, #post-body h3:hover a, #post-body h4:hover a, #post-body h5:hover a, #post-body h6:hover a {
	display: inline;
}
